body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(135deg,#667eea,#764ba2);
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    width: 350px;
    margin: 20px auto;
}

li {
    background: white;
    color: black;
    padding: 12px;
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.checkBtn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid purple;
    cursor: pointer;
}

.completedCircle {
    background: green;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}
